@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f8f8;
    --foreground: #141414;
    --red700: #751127;
    --neutral500: #b4b4b4;
    --neutral600: #6f6f6f;
    --pampas: #ece8e1;

    --heading-2xl-size: 80px;
    --heading-2xl-height: 80px;
    --heading-xl-size: 64px;
    --heading-xl-height: 64px;
    --heading-lg-size: 56px;
    --heading-lg-height: 56px;
    --heading-md-size: 40px;
    --heading-md-height: 40px;
    --heading-sm-size: 32px;
    --heading-sm-height: 32px;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-switzer), sans-serif;
}

.content-wrapper {
  @apply mx-auto w-full max-w-[1800px] px-4 sm:px-10;
}
