@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f8f8;
    --foreground: #141414;
    --red700: #751127;
    --neutral600: #6f6f6f;

    --heading-xl-size: 80px;
    --heading-xl-height: 80px;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-switzer), sans-serif;
}

.content-wrapper {
  @apply mx-auto w-full max-w-[1800px] px-4 sm:px-10;
}
